<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments-head}"></head>
<head>
    <link rel="stylesheet" th:href="@{/cart.css}">
    <script th:src="@{/cart.js}"></script>
    <script th:src="@{/checkout.js}"></script>
    <title>Cart</title>
</head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments-navbar}"></div>
<!-- Modal -->
<div th:replace="~{fragments-checkout-modal}"></div>

<!-- Cart -->
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <!-- Cart size-->
                        <span class="pull-right">(<strong th:text="${cartSize}"></strong>) items</span>
                        <h5 >Items in your cart</h5>
                    </div>
                    <!--Cart Products-->
                    <div th:each="cartItem : ${cart}" class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                            <!-- Product Image -->
                                            <a th:href="@{/shop/product/{productId}(productId=${cartItem.product.id})}">
                                                <img th:src="${cartItem.product.imageUrl}" alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <!--Product Name-->
                                        <h3>
                                            <a th:href="@{/shop/product/{productId}(productId=${cartItem.product.id})}" th:text="${cartItem.product.name}" class="text-navy"></a>
                                        </h3>
                                        <!--Product platform and category-->
                                        <dl class="small m-b-none text-muted">
                                            <dt>Description</dt>
                                            <dd th:text="${cartItem.product.platform} + ' / ' + ${cartItem.product.category}"></dd>
                                        </dl>
                                        <!--Remove from cart-->
                                        <div class="m-t-sm">
                                            <form th:action="@{/cart/remove-from-cart}" method="POST">
                                                <input type="hidden" name="productId" th:value="${cartItem.product.id}">
                                                <button class="btn-danger btn-sm" type="submit"><i class="fa fa-trash"></i> Remove item</button>
                                            </form>
                                        </div>
                                    </td>

                                    <td>
                                        <!--Product price-->
                                        <span th:text="'$'+${cartItem.product.price}"></span>
                                    </td>
                                    <td width="65">
                                        <!--Product quantity-->
                                        <input style="text-align: center;" type="text" class="form-control" th:placeholder="${cartItem.quantity}" readonly>
                                        <!--Change quantity buttons-->
                                        <form th:action="@{/cart/changeQuantity}" method="post">
                                            <input type="hidden" name="productId" th:value="${cartItem.product.id}" />
                                            <span style="display: flex;">
                                                <input type="hidden" name="quantity" th:value="${cartItem.quantity}">
                                                <button class="btn-outline-dark btn-sm" type="submit" name="decQuantity" value="true" style="border: none;"><i class="fa fa-minus"></i></button>
                                                <button class="btn-outline-dark btn-sm" type="submit" name="incQuantity" value="true" style="border: none;"><i class="fa fa-plus"></i></button>
                                            </span>
                                        </form>
                                    </td>
                                    <!--Product quantity total sum-->
                                    <td>
                                        <h4 th:text="'$'+${cartItem.product.price * cartItem.quantity}" style="width: 110px;"></h4>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--Checkout/Continue Shopping-->
                    <div class="ibox-content">
                        <button th:classappend="${cartSize == 0 ? 'disabled' : ''}" class="btn btn-success pull-right" data-toggle="modal" data-target="#checkoutModal"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                        <a th:href="@{/shop}"><button class="btn btn-primary" ><i class="fa fa-arrow-left"></i> Continue shopping</button></a>
                    </div>
                </div>

            </div>

            <!--Cart Summary-->
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                    <span>
                        Total
                    </span>
                        <!--Total sum-->
                        <h2 th:text="'$' + ${totalSum}" class="font-bold"></h2>
                        <hr>
                        <div class="m-t-sm">
                            <div class="btn-group">
                                <!--Checkout-->
                                <a th:classappend="${cartSize == 0 ? 'disabled' : ''}" class="btn btn-success btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Other products you may be interested in-->
                <div th:unless="${interestedInProducts == null OR interestedInProducts.isEmpty()}" class="ibox">
                    <div class="ibox-content">
                        <p class="font-bold">
                            Other products you may be interested in
                        </p>
                        <hr>
                        <div th:each="product : ${interestedInProducts}" class=="product-interested-in" style="text-align: center;">
                            <div class="product-interested-in-img">
                                <!-- Product Image -->
                                <a th:href="@{/shop/product/{productId}(productId=${product.id})}">
                                    <img th:src="${product.imageUrl}" style="width: 40%; text-align: center;">
                                </a>
                            </div>
                            <a th:href="@{/shop/product/{productId}(productId=${product.id})}"th:text="${product.name}" class="text-navy"></a>
                            <dl class="small m-b-none text-muted">
                                <dd th:text="${product.platform} + ' / ' + ${product.category}"></dd>
                                <span th:each="genre : ${product.genres}" th:text="${genre} + ' '"></span>
                            </dl>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>